.Header {
    width: 1300px;
    height: 80px;
    display: flex;
  }
  
  .title {
    margin-left: 80px;
    font-size: 24px;
  }

  .btn{
    display: flex;
    
 
    align-items: center;
    justify-content: end;
    margin-left: 875px;
    
    
  }