.NoChatSelected {
  width: 880px;
  height: 653px;
  display: flex;
//   width: 1140px;
//   height: 800px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.leftColumn {
  padding: 20px 0 0px 0px;
}
