body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  width: 1140px;
  height: 800px;
  margin: 0 auto;
  padding: 0;
}

.main-chat {
  display: flex;
  background-color: #586670;
  height: 800px;
  width: 1300px;
}











